@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@using Stemmesystem.Web.Data
@using Stemmesystem.Data
@inject IDelegatService DelegatService

@if (isLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
}
else
{
    <p>Loading...</p>
}

@code {
    private static readonly string key = "delegatkode";
    private bool isLoaded;
    private bool isLoadedDelegat;
    private string? delegatkode;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public string? Delegatkode { get => delegatkode; set { delegatkode = value; _delegat = null; isLoadedDelegat = false; } }

    private Delegat? _delegat;

    public event Action? OnChange;
    public event Func<Task>? OnChangeAsync;

    public async ValueTask<Delegat?> GetDelegat()
    {
        if (Delegatkode == null) return null;
        if (isLoadedDelegat) return _delegat;
        Console.WriteLine("GETTING DELEGAT");
        _delegat = await DelegatService.ValiderKode(Delegatkode);
        isLoadedDelegat = true;
        return _delegat;
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<string>(key);
        Delegatkode = result.Success ? result.Value : null;
        isLoaded = true;
    }

    public async Task SaveChangesAsync()
    {
        if (!string.IsNullOrEmpty(Delegatkode))
            await ProtectedSessionStore.SetAsync(key, Delegatkode);
        OnChange?.Invoke();
        if (OnChangeAsync != null)
        {
            await OnChangeAsync.Invoke();
        }
    }


}