@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@using Stemmesystem.Data
@using Stemmesystem.Web.Data
@inject IDelegatService DelegatService

@if (isLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
}
else
{
    <p>Loading...</p>
}

@code {
    private static readonly string delegatKey = "delegatkode";
    private static readonly string revoteKey = "revotekeys";
    private bool isLoaded;
    private bool isLoadedDelegat;
    private string? delegatkode;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public string? Delegatkode { get => delegatkode; set { delegatkode = value; _delegat = null; isLoadedDelegat = false; RevoteKeys.Clear(); } }
    public IDictionary<int, string> RevoteKeys { get; set; } = new Dictionary<int, string>();

    private Delegat? _delegat;

    public event Action? OnChange;
    public event Func<Task>? OnChangeAsync;

    public async ValueTask<Delegat?> GetDelegat()
    {
        if (Delegatkode == null) return null;
        if (isLoadedDelegat) return _delegat;
        _delegat = await DelegatService.ValiderKode(Delegatkode);
        isLoadedDelegat = true;
        return _delegat;
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<string>(delegatKey);
        Delegatkode = result.Success ? result.Value : null;
        
        var keysResult = await ProtectedSessionStore.GetAsync<Dictionary<int, string>>(revoteKey);
        if (keysResult.Success)
            RevoteKeys = keysResult.Value;
        
        isLoaded = true;
    }

    public async Task SaveChangesAsync()
    {
        if (!string.IsNullOrEmpty(Delegatkode))
            await ProtectedSessionStore.SetAsync(delegatKey, Delegatkode);
        if (RevoteKeys.Any())
            await ProtectedSessionStore.SetAsync(revoteKey, RevoteKeys);
        OnChange?.Invoke();
        if (OnChangeAsync != null)
        {
            await OnChangeAsync.Invoke();
        }
    }

}