@using Stemmesystem.Data
@using Stemmesystem.Web.Data
@using Stemmesystem.Web.Models
@using Stemmesystem.Web.Services

@inject IDelegatService DelegatService
@inject IPinSender PinSender
@inject NavigationManager Navigation

<div class="row" @onclick=@(_ => _expanded=!_expanded)>
    <h4>Delegater</h4>
    <span class="ml-2 mt-1 oi @(_expanded ? "oi-chevron-top" : "oi-chevron-bottom")"></span>
</div>
@if (_expanded)
{
    <table class="table">
        <thead>
        <tr>
            <th @ondblclick=@(_ => _showPin=!_showPin)>Delegat</th>
            @if (_showPin)
            {
                <th>Pin</th>    
            }
            <th>Send PIN</th>
        </tr>
        </thead>
        @if(_delegater == null || !_delegater.Any())
        {
            <tr><td class="text-danger">Ingen delegater</td></tr>
        }
        else
        {
            <tbody>
            @foreach (var delegat in _delegater.OrderBy(s => s.Delegatnummer))
            {
                <tr>
                    <td>@delegat.Delegatnummer: @delegat.Navn</td>
                    @if (_showPin)
                    {
                        <td>@delegat.Delegatkode</td>
                    }
                    <td>
                        @if (!string.IsNullOrEmpty(delegat.Telefon))
                        {
                            <SendPinSmsComponent DelegatId="delegat.Id"/>  
                        }
                        @if (!string.IsNullOrEmpty(delegat.Epost))
                        {
                            <SendPinEmailComponent DelegatId="delegat.Id"/>
                        }
                    </td>
                </tr>
            }
            </tbody>
        }
    </table>
}
@code {

    [Parameter]
    public int ArrangementId { get; set; }

    private bool _expanded;
    private bool _showPin;

    private ICollection<Delegat> _delegater = null!;


    protected override async Task OnInitializedAsync()
    {
        _delegater = await DelegatService.HentDelegater(ArrangementId);
    }

    private Task SendPin(int delegatId, MeldingsType type)
    {
        switch (type)
        {
            case MeldingsType.Sms:
                return PinSender.SendSms(delegatId, Navigation.BaseUri);
            case MeldingsType.Epost:
                return PinSender.SendEmail(delegatId, Navigation.BaseUri);
            default:
                return Task.CompletedTask;
        }
    }

    private enum MeldingsType
    {
        Sms,
        Epost
    }

}
