@using Stemmesystem.Web.Models
@using Stemmesystem.Web.Data
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject ISakService SakService
@inject NavigationManager Nav

<EditForm EditContext="EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <ValidationSummary />
    <div class="form-row">
        <div class="col-2">
            <FocusableInputText @ref="firstInput" class="form-control" placeholder="Saknummer" @bind-Value="Sak.Nummer"/>
        </div>
        <div class="col-8">
            <InputText class="form-control" placeholder="Tittel" @bind-Value="Sak.Tittel"/>
        </div>
        <div class="col-8">
            <InputText class="my-1 form-control" placeholder="Beskrivelse" @bind-Value="Sak.Beskrivelse"/>    
        </div>
        
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" disabled="@(Sak.Id != null && !context.IsModified())">Lagre</button>
        </div>
    </div>
    <h5>Votering</h5>
    @{var votering = Sak.Voteringer?.FirstOrDefault();}
    <h6>@votering?.Tittel</h6>
    <span><small>@votering?.Beskrivelse</small></span>
    <span>Hemmelig: @votering?.Hemmelig</span>
    <br>
    <span>Kan velge: @votering?.KanVelge</span>
    <br>
    <span>Valg: @string.Join(", ", votering?.Valg.Select(v => v.Navn) ?? Enumerable.Empty<string>())</span>
    <hr/>
</EditForm>
@code {
    [Parameter]
    public int ArrangementId{get;set;}

    [Parameter]
    public SakModel Sak { get; set; } = null!;

    public EditContext? EditContext { get; set; } 
    private CustomValidator? customValidator;
    private FocusableInputText? firstInput;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Sak);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && firstInput != null)
            await firstInput.FocusAsync();
    }

    internal async Task<bool> HandleValidSubmit(EditContext context){
        customValidator?.ClearErrors();
        var errors = new Dictionary<string, List<string>>();
        
        if(await SakService.ErNummerBrukt(ArrangementId, Sak.Nummer))
            errors.Add(nameof(Sak.Nummer), new List<string>{"Saknummer er allerede brukt"});
        if (errors.Count > 0)
        {
            customValidator?.DisplayErrors(errors);
            context.MarkAsUnmodified();
            return false;
        }
        Sak = await SakService.LagreNySak(ArrangementId, Sak);

        context.MarkAsUnmodified();
        return true;
    }

}