@inherits SendPinBaseComponent

<button class="btn btn-primary" @onclick="@(_ => SendPin())" disabled="@(State != SendState.NotSent)">
    
    @switch (State)
    {
        case SendState.Sending:
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            break;
        case SendState.Sent:
            <span class="oi oi-check text-success"></span>
            break;
        case SendState.Failed:
            <span class="oi oi-x text-danger"></span>
            break;
    }
    SMS
</button>    

@code {
    
    [Parameter]
    public int DelegatId { get; set; }

    protected override async Task<bool> DoSend()
    {
        await Task.Delay(1000);
        return Random.Next(0, 2) == 1;
    //return PinSender.SendSms(DelegatId, Navigation.BaseUri);
    }

    private readonly Random Random = new();
}