@using Stemmesystem.Data
@using Stemmesystem.Web.Models
<div class="input-group">
    <FocusableInputText @ref="_input" class="form-control col-6" placeholder="Navn" @bind-Value="Valg.Navn"/>
    <div class="input-group-append">
        <button type="button" class="btn btn-danger" @onclick="@(async _ => await OnTaVekkValg.InvokeAsync(Valg.Id))" tabindex="-1"><i class="oi oi-x"></i></button>
    </div>
</div>

@code {
    [Parameter]
    public ValgModel Valg { get; set; }
    
    [Parameter]
    public EventCallback<Guid> OnTaVekkValg { get; set; }

    private FocusableInputText _input;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _input.FocusAsync();
    }

}