@page "/kode/{kode}"
@page "/pin/{kode}"

@inject IDelegatkodeAuthService AuthService
@inject NavigationManager NavigationManager

@if (_isError)
{
    <h3 class="text-danger">Ugyldig delegatlink</h3>
}
else
{
    <p>Laster...</p>
}


@code {
    private bool _isError;

    [Parameter]
    public string? Kode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Kode == null)
        {
            _isError = true; 
            return;
        }

        await AuthService.Login(Kode);
        //if(delegat == null) { isError = true; return; }
        //NavigationManager.NavigateTo($"/arrangement/{delegat.ArrangementId}");
        NavigationManager.NavigateTo("/");
    }
}
