@page "/arrangement/{id:int}"

@attribute [Authorize(Roles = "Delegat")]

@inject IArrangementService ArrangementService
@inject IDelegateService DelegateService
@inject NavigationManager NavigationManager

@using Stemmesystem.Shared.Interfaces
@using Microsoft.AspNetCore.Authorization
@implements IDisposable
@inherits OwningComponentBase<Stemmesystem.Client.SignalR.IDelegateNotifierService>

@if (_arrangement == null)
{
    <p><em>Laster...</em></p>
}
else
{
    <h2>@_arrangement.Name</h2>
    if (_delegate == null)
    {
        <h3>Fant ikke delegat-info. Noe er galt</h3>
    }
    else
    {
        <h3>Delegat: @_delegate.DelegateNumber (@_delegate.Name)</h3>
        <div class="row">
            <h3>Voteringer</h3>
        </div>
        <div class="row">
            @if (_ballots.Any())
            {
                foreach (var ballot in _ballots.Values)
                {
                    <AktivVotering @key="ballot.Id" Votering=ballot/>
                }
            }
            else
            {
                <p>
                    <em>Ingen aktiv votering</em>
                </p>
            }
        </div>
    }

}
