@page "/admin/arrangement/{arrangementId:int}/sak/ny-sak"
@page "/admin/arrangement/{arrangementId:int}/sak/{sakId:int}"

@using Models
@using Stemmesystem.Web.Data
@inject ArrangementService ArrangementService
@inject ISakService SakService
@inject NavigationManager Navigation

@attribute [Authorize]

@if (_sak.Id != null)
{
    <h3>Redigerer sak <b>@_sak.Tittel</b></h3>
}
else
{
    <h3>Ny sak</h3>    
}

<EditForm Model="@_sak" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <ValidationSummary />
    <div class="form-group">
        <label>Saknummer<InputText class="form-control" placeholder="Saknummer" @bind-Value="_sak.Nummer"/></label>
    </div>
    <div class="form-group">
        <label>Tittel<InputText class="form-control" placeholder="Tittel" @bind-Value="_sak.Tittel"/></label>
    </div>
    <div class="form-group">
            <label>Beskrivelse<InputText class="form-control" placeholder="Beskrivelse" @bind-Value="_sak.Beskrivelse"/></label>
        </div>

    <button type="submit" class="btn btn-primary">Lagre</button>
</EditForm>

@code {
    [Parameter]
    public int ArrangementId{get;set;}
    [Parameter]
    public int? SakId {get;set;}

    private CustomValidator? customValidator;

    private SakInputModel _sak = new();

    protected override async Task OnInitializedAsync(){
        if(SakId != null){
            var sak = await SakService.HentSak(SakId.Value);
            if(sak != null)
                _sak = sak;
        }
    }

    private async Task HandleValidSubmit(){
        customValidator?.ClearErrors();
        var errors = new Dictionary<string, List<string>>();

        if (_sak.Id != default)
        {
            _sak = await SakService.OppdaterSak(ArrangementId, _sak);
        }
        else
        {
            if(await SakService.ErNummerBrukt(ArrangementId, _sak.Nummer))
                errors.Add(nameof(_sak.Nummer), new List<string>{"Saknummer er allerede brukt"});
            if (errors.Count > 0)
            {
                customValidator?.DisplayErrors(errors);
                return;
            }
            _sak = await SakService.LagreNySak(ArrangementId, _sak);
            Navigation.NavigateTo($"/admin/arrangement/{ArrangementId}/sak/{_sak.Id}");
        }
    }

}