@using Grpc.Core
@using Stemmesystem.Shared
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@inject IVoteService _stemmeService
@inject ICaseService _sakService

<div class="col-xl-4 col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@Sak?.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Sak?.Description</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Votering.Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Votering.Description</h6>
            @if (!_loading)
            {
                @if (_harStemmt && !Endre)
                {
                    <p>Du har stemt <b>@StemmerSomString()</b></p>
                    <button class="btn btn-secondary" @onclick="@(_ => Endre = true)">Endre</button>
                }
                else
                {
                    @if (!string.IsNullOrEmpty(_error))
                    {
                        <div class="alert alert-danger" role="alert">
                            @_error
                        </div>
                    }
                    <CascadingValue Value=this>
                        @if (Votering.MaxChoices > 1)
                        {
                            <Flervalgsvotering @bind-Error="_error"/>
                        }
                        else
                        {
                            <Enkelvotering @bind-Error="_error"/>
                        }
                    </CascadingValue>
                }
            }
            else
            {
                <p>Laster...</p>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public BallotDto Votering { get; set; } = null!;
    
    public CaseInfoDto? Sak { get; set; }
    
    internal List<VoteDto>? Votes = new();
    private bool _harStemmt;
    private bool Endre { get; set; } = false;

    private string? _error;

    private bool _loading = true;

    public async Task RegistrerStemme(params Guid[] valg)
    {
        await RegistrerStemme(valg.ToList());
    }

    public async Task RegistrerStemme(ICollection<Guid> valg)
    {
        _error = null;
        if (valg.Count > Votering.MaxChoices)
        {
            _error = $"For mange valg! Du kan bare velge {Votering.MaxChoices}";
            return;
        }
        if (valg.Count == 0)
        {
            valg.Add(Constants.BlankVote);
        }
        try
        {
            var stemmer = await _stemmeService.CastVoteAsync(new CastVoteRequest(Votering.Id, valg));
            Votes = stemmer;
            _harStemmt = true;
            Endre = false;
        }
        catch (RpcException e) when (e.Status.StatusCode == StatusCode.FailedPrecondition)
        {
            _error = e.Status.Detail ?? e.Message;
        }
        catch (Exception)
        {
            _error = "Noe gikk galt. Vent litt og prøv igjen.";
        }

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        var (harStemmt, stemmeDtos) = await _stemmeService.HasVoted(new VoteRequest(Votering.Id));
        _harStemmt = harStemmt;
        if (stemmeDtos != null)
            Votes = stemmeDtos;

        var sakResult = await _sakService.GetCaseInfo(new CaseRequest(Votering.CaseId));
        Sak = sakResult.Value;
        _loading = false;
    }

    private string StemmerSomString()
    {
        if (Votes?.Any() != true) return "";

        var navn = Votes.Select(s => s.ChoiceId == Constants.BlankVote ? "Blankt" : Votering.Choices.First(v => v.Id == s.ChoiceId).Name).ToList();
        
        return navn.Count == 1 ? navn.First() : $"{string.Join(", ", navn.SkipLast(1))} og {navn.Last()}";
    }
}
