@using Microsoft.AspNetCore.Components
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Web.Components
@inject IAdminDelegatService DelegatService

<EditForm class="form-inline" EditContext="EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <ValidationSummary />
    
    <input @ref="numInput" class="form-control" placeholder="Delegatnummer" @bind-value="Delegat.Delegatnummer"/>
    <InputText class="form-control" placeholder="Navn" @bind-Value="Delegat.Navn"/>
    <InputText class="form-control" placeholder="Gruppe" @bind-Value="Delegat.Gruppe"/>
    <InputText class="form-control" placeholder="Epost" @bind-Value="Delegat.Epost"/>
    <InputText class="form-control" placeholder="Telefon" @bind-Value="Delegat.Telefon"/>

    <button type="submit" class="btn btn-primary" disabled="@(Delegat.Id != null && !context.IsModified())">Lagre</button>    
    <button type="button" class="btn btn-danger" @onclick="() => SlettDelegat(Delegat.Id)">Slett</button>    
</EditForm>

@code {
    private CustomValidator? customValidator;
    private ElementReference numInput;

    [Parameter]
    public DelegatFormModel Delegat { get; set; } = null!;

    [Parameter]
    public int ArrangementId { get; set; }
    
    [Parameter]
    public EventCallback OnDelete { get; set; }

    public EditContext? EditContext { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await numInput.FocusAsync();
    }

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Delegat);
    }

    internal async Task<bool> HandleValidSubmit(EditContext context){
        customValidator?.ClearErrors();
        if (Delegat.Id == null)
            await LeggTilDelegat();
        else
            await OppdaterDelegat();
        
        context.MarkAsUnmodified();
        return true;
    }

    private async Task OppdaterDelegat()
    {
        var inputModel = Delegat.ToInputModel(ArrangementId);
        var delegat = await DelegatService.OppdaterDelegat(inputModel);
        Delegat.ApplyChanges(delegat);
    }

    private async Task LeggTilDelegat()
    {
        var inputModel = Delegat.ToInputModel(ArrangementId);
        var delegat = await DelegatService.RegistrerNyDelegat(inputModel);
        Delegat.ApplyChanges(delegat);
    }
    
    private async Task SlettDelegat(int? delegatId, CancellationToken cancellationToken = default)
    {
        if (delegatId != null)
        {
            await DelegatService.SlettDelegat(new SlettDelegatRequest(ArrangementId, delegatId.Value), cancellationToken);
        }
        
        await OnDelete.InvokeAsync();
    }

    public async Task FocusAsync()
    {
        await numInput.FocusAsync();
    }

}