@using Microsoft.AspNetCore.Components
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Web.Components
@using AutoMapper
@inject IAdminDelegateService _delegatService
@inject IMapper _mapper

<EditForm class="form-inline" EditContext="EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <ValidationSummary />
    
    <input @ref="numInput" class="form-control" placeholder="Delegatnummer" @bind-value="Delegat.DelegateNumber"/>
    <InputText class="form-control" placeholder="Navn" @bind-Value="Delegat.Name"/>
    <InputText class="form-control" placeholder="Gruppe" @bind-Value="Delegat.Group"/>
    <InputText class="form-control" placeholder="Epost" @bind-Value="Delegat.Email"/>
    <InputText class="form-control" placeholder="Telefon" @bind-Value="Delegat.Phone"/>
    @if (ArrangementId != null)
    {
        <button type="submit" class="btn btn-primary" disabled="@(Delegat.Id != null && !context.IsModified())">Lagre</button>    
        <button type="button" class="btn btn-danger" @onclick="() => SlettDelegat(Delegat.Id)">Slett</button>    
    }
</EditForm>

@code {
    private CustomValidator? customValidator;
    private ElementReference numInput;

    [Parameter]
    public DelegateInputModel Delegat { get; set; } = null!;

    [Parameter]
    public int? ArrangementId { get; set; }
    
    [Parameter]
    public EventCallback OnDelete { get; set; }

    public EditContext? EditContext { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await numInput.FocusAsync();
    }

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Delegat);
    }

    internal async Task<bool> HandleValidSubmit(EditContext context){
        if (ArrangementId == null) return false;
        customValidator?.ClearErrors();
        if (Delegat.Id == null)
            await LeggTilDelegat(ArrangementId.Value);
        else
            await OppdaterDelegat(ArrangementId.Value);
        
        context.MarkAsUnmodified();
        return true;
    }

    private async Task OppdaterDelegat(int arrangementId)
    {
        Delegat.ArrangementId = arrangementId;
        var delegat = await _delegatService.UpdateDelegate(Delegat);
        _mapper.Map(delegat, Delegat);
        
    }

    private async Task LeggTilDelegat(int arrangementId)
    {
        Delegat.ArrangementId = arrangementId;
        var delegat = await _delegatService.RegisterNewDelegate(Delegat);
        _mapper.Map(delegat, Delegat);
    }
    
    private async Task SlettDelegat(int? delegatId, CancellationToken cancellationToken = default)
    {
        if (delegatId != null && ArrangementId != null)
        {
            await _delegatService.DeleteDelegate(new DeleteDelegateRequest(ArrangementId.Value, delegatId.Value), cancellationToken);
        }
        
        await OnDelete.InvokeAsync();
    }

    public async Task FocusAsync()
    {
        await numInput.FocusAsync();
    }

}