@inject IDelegatService DelegatService
@using Stemmesystem.Core.Interfaces
@using Stemmesystem.Core.Models

@if (_delegat != null)
{
    <div>Delegat: @_delegat.Delegatnummer (@_delegat.Navn)</div>
}

@code {
    private DelegatDto? _delegat;
    protected override async Task OnInitializedAsync()
    {
        await LoadDelegat();
    }

    private async Task LoadDelegat()
    {
        var result = await DelegatService.HentDelegatInfo();
        _delegat = result.Delegat;
    }
}
