@inject IDelegateService DelegatService
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models

@if (_delegat != null)
{
    <div>Delegat: @_delegat.DelegateNumber (@_delegat.Name)</div>
}

@code {
    private DelegateDto? _delegat;
    protected override async Task OnInitializedAsync()
    {
        await LoadDelegat();
    }

    private async Task LoadDelegat()
    {
        var result = await DelegatService.GetDelegateInfo();
        _delegat = result.Delegate;
    }
}
