@using System.IO
@using System.Linq
@using Microsoft.Win32
@using Stemmesystem.Client.Services.CSV
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Stemmesystem.Web.Services.CSV

@inject CsvImport Import
@inject IAdminDelegatService DelegatService

<div class="row">
    <p>Importer delegater:</p>
    <InputFile OnChange="@OnDelegatFil"/>
    <p><small>Format: delegatnummer,navn,gruppe,epost,telefon (med header)</small></p>
    <p class="text-danger col-12">@_error</p>
    @if (_importDelegater.Any())
    {
        <div class="form-check">
            <input @bind="_genererNummer" type="checkbox" class="form-check-input" id="numCheck" />
            <label class="form-check-label" for="numCheck">Generer nummer</label>
        </div>

        <button class="btn btn-primary ml-3" @onclick="@(e => LagreImport())">Lagre alle</button>
        for (var i = 0; i < _importDelegater.Count; i++)
        {
            var index = i;
            <DelegatFormInline @ref="_delegatForms[index]" Delegat="@_importDelegater[index]" ArrangementId="ArrangementId"/>
        }
    }
</div>
<hr/>
@code {
    private string? _error;
    private List<DelegatInputModel> _importDelegater = new();
    private bool _genererNummer;
    private IDictionary<int,DelegatFormInline> _delegatForms = new Dictionary<int, DelegatFormInline>();


    [Parameter]
    public int ArrangementId { get; set; }

    private async Task OnDelegatFil(InputFileChangeEventArgs e)
    {
        _error = null;
        _importDelegater.Clear();
        try
        {
            await using var stream = e.File.OpenReadStream();
            using var reader = new StreamReader(stream);
            var delegater = await Import.LesDelagater(reader);
            _importDelegater = new List<DelegatInputModel>(delegater);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            _error = "Kunne ikke importere fil";
        }
    }

    private async Task LagreImport()
    {
        _error = null;
        if (!_genererNummer && _importDelegater.GroupBy(d=> d.Delegatnummer).Any(g => g.Count() > 1))
        {
            _error = "Set unike nummer, eller huk av \"Generer nummer\"";
            return;
        }
        if (!_genererNummer && _importDelegater.Any(d => !d.Delegatnummer.HasValue))
        {
            _error = "Alle delegater må ha nummer. Huk av \"Generer nummer\" for å sette de automatisk";
            return;
        }

        if (_genererNummer)
        {
            var delegater = await DelegatService.HentDelegater(new HentDelegatRequest(ArrangementId));
            var num = delegater.Max(d => d.Delegatnummer);
            foreach (var form in _delegatForms.Values){
                form.Delegat.Delegatnummer = ++num;
            }
        }

        foreach (var form in _delegatForms.Values)
        {
            var delegat = form.Delegat;
            if (form.EditContext!.Validate() && await form.HandleValidSubmit(form.EditContext))
            {
                _importDelegater.Remove(delegat);
            }
        }
    }

}