@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Web.Components
@using Microsoft.AspNetCore.Components
@using Stemmesystem.Shared.Models
@using AutoMapper
@inject ICaseService SakService
@inject IMapper _mapper
@inject NavigationManager Nav

<EditForm EditContext="EditContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <CustomValidator @ref="customValidator" />
    <ValidationSummary />
    <div class="form-row">
        <div class="col-2">
            <FocusableInputText @ref="firstInput" class="form-control" placeholder="Saknummer" @bind-Value="Sak.Number"/>
        </div>
        <div class="col-8">
            <InputText class="form-control" placeholder="Tittel" @bind-Value="Sak.Title"/>
        </div>
        <div class="col-8">
            <InputText class="my-1 form-control" placeholder="Beskrivelse" @bind-Value="Sak.Description"/>    
        </div>
        
        <div class="col-auto">
            <button type="submit" class="btn btn-primary" disabled="@(!context.IsModified())">Lagre</button>
        </div>
    </div>
    <h5>Votering</h5>
    @{var votering = Sak.Ballots?.FirstOrDefault();}
    <h6>@votering?.Title</h6>
    <span><small>@votering?.Description</small></span>
    <span>Hemmelig: @votering?.Secret</span>
    <br>
    <span>Kan velge: @votering?.MaxChoices</span>
    <br>
    <span>Valg: @string.Join(", ", votering?.Choices.Select(v => v.Name) ?? Enumerable.Empty<string>())</span>
    <hr/>
</EditForm>
@code {
    [Parameter]
    public int ArrangementId{get;set;}

    [Parameter]
    public CaseInputModel Sak { get; set; } = null!;

    public EditContext? EditContext { get; set; } 
    private CustomValidator? customValidator;
    private FocusableInputText? firstInput;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Sak);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && firstInput != null)
            await firstInput.FocusAsync();
    }

    internal async Task<bool> HandleValidSubmit(EditContext context){
        customValidator?.ClearErrors();
        var result = await SakService.CreateCase(Sak);
        
        if (result.Success)
        {
            Sak = _mapper.Map<CaseInputModel>(result.Value);    
            context.MarkAsUnmodified();
            return true;
        }
        if (result.Errors != null)
        {
            customValidator?.DisplayErrors(result.Errors);
        }
        context.MarkAsUnmodified();
        return false;
    }

}