@using Stemmesystem.Shared.Interfaces
@inherits SendPinBaseComponent

<button class="btn btn-primary" @onclick="@(_ => SendPin())" disabled="@(State != SendState.NotSent)">
    
    @switch (State)
    {
        case SendState.Sending:
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            break;
        case SendState.Sent:
            <span class="oi oi-check text-success"></span>
            break;
        case SendState.Failed:
            <span class="oi oi-x text-danger"></span>
            break;
    }
    SMS
</button>    

@code {
    
    [Parameter]
    public int DelegatId { get; set; }

    protected override async Task<bool> DoSend()
    {
        try
        {
            var result = await PinSender.SendSms(new SendPinRequest(DelegatId, Navigation.BaseUri));
            return result.Success;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            return false;
        }
        
        
    }
}