@using Stemmesystem.Shared.Interfaces
@inherits SendPinBaseComponent

<button class="btn btn-primary" @onclick="@(_ => SendPin())" disabled="@(State != SendState.NotSent)">
     @switch (State)
        {
            case SendState.Sending:
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                break;
            case SendState.Sent:
                <span class="oi oi-check text-success"></span>
                break;
            case SendState.Failed:
                <span class="oi oi-x text-danger"></span>
                break;
        }
    e-post
</button>    

@code {
    
    [Parameter]
    public int DelegatId { get; set; }
    

    protected override async Task<bool> DoSend()
    {
        try
        {
            await PinSender.SendEmail(new SendPinRequest(DelegatId, Navigation.BaseUri));
            return true;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            return false;
        }
        
    }

}