@page "/admin/arrangement/{arrangementId:int}/dashboard"
@using Stemmesystem.Core.Interfaces
@using Stemmesystem.Core.Models
@using Microsoft.AspNetCore.Authorization
@using Stemmesystem.Core
@inject IArrangementService _arrangementService
@implements IDisposable
@inherits OwningComponentBase<Stemmesystem.Client.SignalR.IDelegatNotifierService>
@attribute [Authorize]
<div class="row">
    <h3><b>@_arrangement?.Navn</b></h3>    
</div>
<div class="row">
    <div class="col">Saker: @_arrangement?.Saker.Count </div>
</div>
<div class="row">
    <div class="col">Delegater: @_arrangement?.Delegater.Count</div>
    <div class="col">Aktive delegater: @_aktiveDelegater</div>
</div>
<CascadingValue Name="Delegater" Value="_arrangement?.Delegater.Count ?? 0">
    <Saksliste ArrangementId="ArrangementId" />
    <Delegatliste ArrangementId="ArrangementId" />
</CascadingValue>

@code {
    [Parameter]
    public int ArrangementId {get;set;}

    private ArrangementDto? _arrangement;
    private int _aktiveDelegater;


    protected override async Task OnInitializedAsync()
    {
        var arrangement = await _arrangementService.HentArrangementAsync(new HentArrangementRequest {Id = ArrangementId});
        if(arrangement != null)
            _arrangement = arrangement;
        
        
        Service.OnCountChanged(ActiveCountChanged);
        await Service.Start();
        _aktiveDelegater = await Service.GetActiveCount(ArrangementId);

    }

    
    private void ActiveCountChanged(ActiveCountChangedEvent e)
    {
        if (e.ArrangementId == ArrangementId)
        {
            _aktiveDelegater = e.NewCount;
            StateHasChanged();
        }
    }
    
    public void Dispose()
    {
        //_tracker.CountChanged -= ActiveCountChanged;
    }

}