@page "/admin/arrangement/{arrangementId:int}/sak-dashboard"
@using Stemmesystem.Shared.Interfaces
@using Stemmesystem.Shared.Models
@using Microsoft.AspNetCore.Authorization
@inject IArrangementService ArrangementService
@inherits OwningComponentBase
@attribute [Authorize]
<div class="row">
    <h3><b>@_arrangement?.Name</b></h3>    
</div>
<div class="row">
    <div class="col">Saker: @_arrangement?.Cases.Count </div>
</div>
<div class="row">
    <div class="col">Delegater: @_arrangement?.Delegates.Count</div>
    <div class="col">Delegater til stede: @_delegaterTilstede</div>
</div>
<CascadingValue Name="DelegaterTilestede" Value="_delegaterTilstede">
    <Saksliste ArrangementId="ArrangementId" />
</CascadingValue>

@code {
    [Parameter]
    public int ArrangementId { get; set; }
    private ArrangementDto? _arrangement;
    private int _delegaterTilstede;


    protected override async Task OnInitializedAsync()
    {
        var arrangement = await ArrangementService.GetArrangementAsync(new GetArrangementRequest {Id = ArrangementId});
        if(arrangement != null)
            _arrangement = arrangement;
        
        var tilstedeResponse = await ArrangementService.GetPresentCount(new PresentCountRequest(ArrangementId));
        _delegaterTilstede = tilstedeResponse.Count;
    }
}