@page "/kode/{kode}"

@using Stemmesystem.Web.Data

@inject IDelegatService DelegatService
@inject NavigationManager NavigationManager

@if (isError)
{
    <h3 class="text-danger">Ugyldig delegatlink</h3>
}
else
{
    <p>Loading...</p>
}


@code {
    private bool isError;
    [CascadingParameter]
    private DelegatStateProvider? DelegatStateProvider { get; set; }

    [Parameter]
    public string? Kode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Kode == null) { isError = true; return; }

        var delegat = await DelegatService.ValiderKode(Kode);
        if(delegat == null) { isError = true; return; }
        if(DelegatStateProvider != null){
            DelegatStateProvider.Delegatkode = Kode;
            await DelegatStateProvider.SaveChangesAsync();
        }
        NavigationManager.NavigateTo($"/arrangement/{delegat.ArrangementId}");
    }
}
