@page "/"

@using Stemmesystem.Web.Data
@using Stemmesystem.Data
@inject ArrangementService ArrangementService
@inject NavigationManager NavigationManager

<h1>Romsdal og Nordmøre krets's stemmeside</h1>

<label >Skriv PIN her for å logge inn:</label>
<form>
  <div class="form-row align-items-center">
      <div class="col-auto">
        
        <input type="text" class="form-control form-control-lg" id="pininput" placeholder="PIN">
      </div>
      <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
  </div>
</form>

@code {
    private ICollection<Arrangement>? arrangementer;

    protected override async Task OnInitializedAsync()
    {
        arrangementer = await ArrangementService.HentArrangementAsync();
    }

    private void NavigerTilArrangement(string navn)
    {
        NavigationManager.NavigateTo(navn);
    }
}
